@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: inline-flex;
    align-items: flex-start;
}

.side-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 100%;
    display: inline-flex;
    padding: 90px 17.5px 301.943px 17.5px;
    flex-direction: column;
    align-items: center;
    gap: 65px;
    background: var(--deep-blue, #2A8EF1);
}

.sub-side-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.dash{
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.right-bar{
    position: relative;
    left: 10em;
    top: 0;
    display: inline-flex;
    padding: 90px 17.5px 301.943px 17.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: .2em;
}

h3{
color: var(--for-text, #525252);
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}